@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-Medium.woff2') format('woff2'),
    url('Ubuntu-Medium.woff') format('woff'),
    url('Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-Bold.woff2') format('woff2'),
    url('Ubuntu-Bold.woff') format('woff'),
    url('Ubuntu-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-Light.woff2') format('woff2'),
    url('Ubuntu-Light.woff') format('woff'),
    url('Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-Regular.woff2') format('woff2'),
    url('Ubuntu-Regular.woff') format('woff'),
    url('Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    image-rendering: pixelated;
}


.loadingWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #212225;
    top: 0;
    left: 0;
    z-index: 10000;
}
.loadingWrapper .center {
    padding: 0px;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 7Px;
    font-weight: 600;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.hotel {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #212225;
}

.frame.resizable {
    resize: both;
    overflow: auto;
}

::-webkit-resizer {
    background-color: transparent;
}

.frame {
    position: fixed;
    z-index: 1000;
}
.frame.s1 {
    background-color: rgba(21, 22, 24, 0.95);
    border-radius: 5px;
    padding: 12px 12px;
    box-sizing: border-box;
}
.frame.s1 .header {
    height: 30px;
    float: left;
    cursor: pointer;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #292829;
}
.frame.s1 .header .buttonsleft {
    height: 22px;
    position: absolute;
    left: 0;
}
.frame.s1 .header .buttonsright {
    height: 22px;
    position: absolute;
    right: 0;
}
.frame.s1 .header .title {
    height: 22px;
    cursor: default;
    position: absolute;
    font-weight: 600;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 17px;
    color: white;
}

input {
    width: 100%;
    padding: 10px 10px;
    border: none;
    border-top: 1px solid #444;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
    border-radius: 3px;
    float: left;
    background-color: white;
    -webkit-box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.12);
-moz-box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.12);
box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,0.12);
}
.frame.s1 .tabs_container {
    height: 30px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    overflow: hidden;
    background-color: #282729;
    display: flex;
}
.frame.s1 .tabs {
    cursor: pointer;
    height: 30px;
    border: none;
    flex: auto;
    text-align: center;
    color: white;
    border-top: 1px solid #444;
    border-left: 1px solid #201F20;
    border-right: 1px solid #262526;
    border-bottom: 1px solid #000;
    background-color: #282729;
    font-weight: 500;
    line-height: 28px;
    font-size: 14px;
}
.frame.s1 .tabs:hover {
    background-color: #39383A;
    border-top: 1px solid #474647;
    border-bottom: 1px solid #201F21;
}
.frame.s1 .tabs.active {
    border-top: 1px solid #4C727D;
    border-left: 1px solid #183E4A;
    border-right: 1px solid #1F333F;
    border-bottom: 1px solid #051E23;
    background-color: #3B7F8F;
}
.scrollbox {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    float: left;
    width: 100%;
}
.scrollbox::-webkit-scrollbar {
    display: none;
}
.frame.s1 .separator {
    width: 100%;
    height: 1px;
    float: left;
    background-color: #292829;
}
.frame.s1 .hiddentab {
    width: 100%;
    overflow: hidden;
    height: 22px;
    cursor: pointer;
    margin-bottom: 5px;
    color: #969496;
}
.frame.s1 .hiddentab .header {
    width: 100%;
    position: relative;
    height: 21px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-bottom: 1px solid #292829;
    color: #969496;
    text-transform: uppercase;
}
.frame.s1 .hiddentab .header img {
    vertical-align: middle;
}
.frame.s1 .hiddentab .but {
    width: 9px;
    height: 9px;
    position: absolute;
    right: 0;
    top: 4px;
}
.frame.s1 .hiddentab .but.show {
    background-image: url(../img/plus.png);
}
.frame.s1 .hiddentab .but.hide {
    background-image: url(../img/sub.png);
}
.frame.s1 .roomtab {
    height: 78px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #292829;
    float: left;
    position: relative;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}
.frame.s1 .roomtab .thumbnail {
    height: 65px;
    background-color: #000;
    border-radius: 3px;
    position: absolute;
    left: 0;
    width: 65px;
}
.frame.s1 .roomtab .text {
    left: 80px;
    top: 7px;
    color: white;
    font-size: 15px;
    position: absolute;
}
.frame.s1 .roomtab .usercount {
    left: 80px;
    height: 19px;
    width: 44px;
    top: 48px;
    border-radius: 3px;
    background-color: #ddd;
    color: white;
    text-align: center;
    position: absolute;
    font-size: 13Px;
    line-height: 18px;
    font-weight: 500;
}
.frame.s1 .roomtab .usercount.green {
    background-color: #4B9A38;
}
.frame.s1 .roomtab .usercount.orange {
    background-color: #DB7F31;
}
.frame.s1 .roomtab .usercount.red {
    background-color: #AE232D;
}
.frame.s1 .roomtab .usercount.grey {
    background-color: #ddd;
}
.frame.s1 .inventoryleft {
    width: calc(100% - 151px);
    margin-top: 14px;
    position: relative;
    height: calc(100% - 83px);
    float: left;
}
.frame.s1 .inventoryright {
    width: 151px;
    position: relative;
    margin-top: 14px;
    height: calc(100% - 83px);
    float: right;
}


.frame.s1 .catalogleft {
    width: 200px;
    margin-top: 14px;
    height: calc(100% - 45px);
    float: left;
}
.frame.s1 .catalogright {
    width: calc(100% - 210px);
    margin-top: 14px;
    position: relative;
    height: calc(100% - 45px);
    float: right;
}
.frame.s1 .default_3x3 {
    height: calc(100% - 45px);

    bottom: 0px;
    position: absolute;
    width: 100%;
}
.frame.s1 .default_3x3 .furniprev {
    height: 100%;

    float: left;
    position: relative;
    width: 164px;
}
.frame.s1 .default_3x3 .furniprev .preview {
    height: calc(100% - 48px);
    background-image: url(../img/tile.png);
    border-radius: 3px;
    float: left;
    width: 164px;
}
.frame.s1 .default_3x3 .furniprev .action {
    width: 100%;
    height: 43px;
    bottom: 0;
    position: absolute;
}
.frame.s1 .default_3x3 .itemlist {
    height: 100%;
    float: left;
    position: relative;
    margin-left: 10px;
    width: calc(100% - 174px);
}
.frame.s1 .club {
    height: calc(100% - 45px);

    bottom: 0px;
    position: absolute;
    width: 100%;
}
.frame.s1 .club .banner {
    height: calc(100% - 120px);
    background: url(../img/habboclub.png), linear-gradient(90deg, #AC0F0F 0%, #D24716 100%);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 3px;
    top: 0;
    position: absolute;
    width: 100%;
}
.roomContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #212225;
    top: 0;
    left: 0;
}
.hotelView {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #23292D;
    left: 0;
}
.hotelView .hotel_right {
    position: absolute;
    right: 0;
    bottom: 58px;
    width: 499px;
    height: 557px;
}
.hotelView .hotel_left {
    position: absolute;
    left: 0;
    bottom: 58px;
    width: 970px;
    height: 492px;
}
canvas {
    position: absolute;
    top: 0; 
    left: 0;
}






body, html {
    width: 100%;
    height: 100%;
    font-family: Ubuntu,sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    image-rendering: pixelated;
    -webkit-user-select: none;
    user-select: none;
    background-color: #212225;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
}

/* Buttons */

button {
    cursor: pointer;
    border: none;
    text-align: center;
    color: white;
    border-top: 1px solid #444;
    border-bottom: 1px solid #000;
    background-color: #282729;
    border-radius: 3px;
    height: auto;

}
button:hover {
    background-color: #39383A;
    border-top: 1px solid #474647;
    border-bottom: 1px solid #201F21;
    transition: 0.2s;
}

button.blue {
    border-bottom: 1px solid #00A6D8;
    background-color: #00B1EA;
    border-top: 1px solid #7DD8F5;
}
button.blue:hover {
    border-bottom: 1px solid #017a9f;
    background-color: #0092c1;
    border-top: 1px solid #6abad4;
}
button.green {
    border-bottom: 1px solid #52A033;
    background-color: #5BB639;
    border-top: 1px solid #AEDB9D;
}
button.green:hover {
    border-bottom: 1px solid #3a7024;
    background-color: #44862b;
    border-top: 1px solid #8aae7d;
}

/* Chat input */

.bobbax-room-chatinput-component {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 10px;
    pointer-events: none;
    z-index: 1000;
}

.bobbax-room-chatinput-component .chatinput-container {
    position: relative;
    width: 450px;
    height: 45px;
    left: 0px;
    border-radius: 10px;
    border: 3px solid #000;
    background: #ededed;
    pointer-events: all;
}

.bobbax-room-chatinput-component .chatinput-container:before {
    content: "";
    position: absolute;
    width: 98%;
    height: 5px;
    border-radius: 5px;
    top: 3px;
    left: 0;
    right: 0;
    margin: auto;
    background: #fff;
    z-index: 1;
}

.bobbax-room-chatinput-component .chatinput-container .chat-input {
    width: calc(100% - 25px);
    height: 100%;
    font-size: 18px;
    padding: 0 10px;
    outline: 0;
    border: 0;
    position: relative;
    background: transparent;
}

.bobbax-room-chatinput-styleselector-component {
    display: flex;
    position: relative;
    right: -10px;
    pointer-events: all;
}

/* Icons */

i.icon.chatstyles-icon {
    background-image: url(../img/styles-icon.png);
    width: 17px;
    height: 19px;
}

i.icon.icon-habbo {
    background-image: url(../img/habbo.png);
    width: 28px;
    height: 28px;
}

i.icon.icon-rooms {
    background-image: url(../img/rooms.png);
    width: 44px;
    height: 30px;
}

i.icon.icon-catalog {
    background-image: url(../img/catalog.png);
    width: 33px;
    height: 33px;
}

i.icon.icon-message {
    background-image: url(../img/message.png);
    width: 26px;
    height: 32px;
}
i.icon.icon-friends {
    background-image: url(../img/friends.png);
    width: 32px;
    height: 33px;
}
i.icon.icon-inventory {
    background-image: url(../img/inventory.png);
    width: 28px;
    height: 29px;
}