html, body {
    image-rendering: pixelated;
    height: 100%;
    margin: 10;
    padding: 10;
}

.frame {
    overflow: hidden;
}

.frame.s3 .header {
    height: 33px;
    width: 100%;
    top: 0px;
    left: 0px;
    position: relative;
}
.frame.s3 .header .left {
    height: 33px;
    width: 7px;
    position: absolute;
    background-image: url(sprites/frame3/header_left.png);
    left: 0;
    top: 0;
}
.frame.s3 .header .right {
    height: 33px;
    width: 7px;
    position: absolute;
    background-image: url(sprites/frame3/header_right.png);
    right: 0;
    top: 0;
}
.frame.s3 .header .center {
    height: 33px;
    width: calc(100% - 14px);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    right: 0;
    top: 0;
    font-size: 13px;
    line-height: 33px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
    background-image: url(sprites/frame3/header_center.png);
}
.frame.s3 .header .buttons {
    right: 9px;
    top: 8px;
    position: absolute;
}
.frame.s3 .header .close {
    float: right;
    width: 19px;
    height: 20px;
    background-image: url(sprites/ui.png);
    background-repeat: none;
    background-position: top 0px left -15px;
}
.frame.s3 .header .close:hover {
    background-position: top 0px left -34px;
}
.frame.s3 .header .close:active {
    background-position: top 0px left -53px;
}

.frame.s3 .header .help {
    float: right;
    width: 19px;
    margin-right: 5px;
    height: 20px;
    background-image: url(sprites/ui.png);
    background-repeat: none;
    background-position: top -20px left -15px;
}
.frame.s3 .header .help:hover {
    background-position: top -20px left -34px;
}
.frame.s3 .header .help:active {
    background-position: top -20px left -53px;
}
.frame.s3 .content {
    height: calc(100% - 33px);
    width: 100%;
    top: 0px;
    left: 0px;
    position: relative;
}
.frame.s3 .content .left {
    height: calc(100% - 7px);
    width: 3px;
    position: absolute;
    background-image: url(sprites/frame3/content_left.png);
    left: 0;
    z-index: 1;
    top: 0;
}
.frame.s3 .content .right {
    height: calc(100% - 7px);
    width: 3px;
    position: absolute;
    background-image: url(sprites/frame3/content_right.png);
    right: 0;
    top: 0;
    z-index: 1;
}
.frame.s3 .content .center {
    height: calc(100% - 7px);
    width: calc(100% - 6px);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0;
    font-weight: 600;
    z-index: 2;
    background-color: #E9E9E1;
}


.frame.s3 .content .bottom {
    height: 7px;
    width: 100%;
    bottom: 0;
    left: 0px;
    position: absolute;
}
.frame.s3 .content .bottom .left {
    height: 7px;
    width: 7px;
    position: absolute;
    background-image: url(sprites/frame3/content_bottom_left.png);
    left: 0;
    top: 0;
}
.frame.s3 .content .bottom .right {
    height: 7px;
    width: 7px;
    position: absolute;
    background-image: url(sprites/frame3/content_bottom_right.png);
    right: 0;
    top: 0;
}
.frame.s3 .content .bottom .center {
    height: 7px;
    width: calc(100% - 14px);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    right: 0;
    bottom: 0;
    background-image: url(sprites/frame3/content_bottom_center.png);
}
.frame.s3 .content .tab-container {
    height: 35px;
    position: absolute;
    border-bottom: 1px solid black;
    box-shadow: 0px 1px 0px 0px white;
}
.frame.s3 .content .tab-container .center {
    height: 32px;
    margin-top: 5px;
    display: flex;
}
.frame.s3 .content .tab-container .tab {
    height: 32px;
    padding: 0px 0px;
    width: 100%;
    flex: auto;
    float: left;
    position: relative;
    cursor: pointer;
}

.frame.s3 .content .tab-container .tab .tleft {
    height: 32px;
    width: 6px;
    float: left;
    background-image: url(sprites/frame3/tab_left.png);
}
.frame.s3 .content .tab-container .tab .tright {
    height: 32px;
    width: 6px;
    float: left;
    background-image: url(sprites/frame3/tab_right.png);
}
.frame.s3 .content .tab-container .tab .tcenter {
    height: 32px;
    width: calc(100% - 12px);
    float: left;
    background-image: url(sprites/frame3/tab_center.png);
    color: black;
    font-size: 13px;
    line-height: 35px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    text-align: center;
}
.frame.s3 .content .tab-container .tab:hover .tcenter {
    background-image: url(sprites/frame3/tab_hover_center.png);
}
.frame.s3 .content .tab-container .tab:hover .tleft {
    background-image: url(sprites/frame3/tab_hover_left.png);
}
.frame.s3 .content .tab-container .tab:hover .tright {
    background-image: url(sprites/frame3/tab_hover_right.png);
}


.frame.s3 .content .tab-container .tab.active .tcenter {
    background-image: url(sprites/frame3/tab_active_center.png);
}
.frame.s3 .content .tab-container .tab.active .tleft {
    background-image: url(sprites/frame3/tab_active_left.png);
}
.frame.s3 .content .tab-container .tab.active .tright {
    background-image: url(sprites/frame3/tab_active_right.png);
}
.catalog-header {
    width: 568px;
    height: 90px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 110% auto;
    background-blend-mode: multiply;
    z-index: 2;
    background-color: #235061;
    
    position: absolute;
    -webkit-box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,0.24);
-moz-box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,0.24);
box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,0.24);
}
.catalog-header .icon {
    height: 36px;
    width: 36px;
    background-size: 100%;
    position: absolute;
}
.text {
    position: absolute;
    padding: 0px 0px;
    font-family: 'Ubuntu', sans-serif;
}
.front-page {
    width: 548px;
    left: 7px;
    height: 460px;
    top: 131px;
    position: absolute;
    
}
.front-page .featured_page {
    position: absolute;
    cursor: pointer;
    background-position: center center;
}
.front-page .featured_page .featured_title {
    position: absolute;
    left: 5px;
    bottom: 3px;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 5px 5px;
    font-size: 17px;
    width: calc(100% - 20px);
    color: white;
    padding-bottom: 8px;
    border-radius: 5px;
}
